[submodule "shared/ProAbonoLive"]
	path = shared/ProAbonoLive
	url = https://github.com/SubscriptionTech/Claude.SharedApi.ProAbonoLive
	branch = main
[submodule "shared/DocApi"]
	path = shared/DocApi
	url = https://github.com/SubscriptionTech/Claude.SharedSpecs.DocApi.git
	branch = main
[submodule "shared/ProAbonoBO"]
	path = shared/ProAbonoBO
	url = https://github.com/SubscriptionTech/Claude.SharedApi.ProAbonoBO
	branch = main
